{
 "86.94": "\u0004\u0001\u0000\u0006\u0006",
 "17.03": "1.2000000000000002",
 "47.38": "\u0000\f\u0000\u0005\u0000",
 "55.5": "20260219f9f6",
 "81.72": "{\"x\":0,\"y\":1289,\"width\":20.5625,\"height\":15,\"top\":1289,\"right\":20.5625,\"bottom\":1304,\"left\":0}",
 "71.82": "2",
 "21.95": "puotspu\u0013",
 "30.25": "[\"Google Inc.\",\"Win32\",32,0]",
 "96.29": "\"TypeError: Cannot read properties of undefined (reading 'cfIpLongitude')cfIpLongitude\"",
 "93.03": "14.5214.5214.5214.52",
 "50.19": "?argument should be a bytes-like object or ASCII string, not 'float'",
 "2.29": "16",
 "32.47": "{\"availWidth\":3440,\"availHeight\":1404,\"availLeft\":0,\"availTop\":36,\"colorDepth\":24,\"height\":1440,\"width\":3440,\"pixelDepth\":24}",
 "39.8": "statsig.last_modified_time.evaluations,statsig.stable_id.3307118423,statsig.session_id.3307118423,statsig.cached.evaluations.1016084616,300df51147803f41,crixet_light_mode_preference_v1,prism_feedback_prompt_v1:fd8329b9-cac6-4afb-8df2-791f7130089d,crixet_settings_v1,prism_signed_in_observation_v1,crixet.sidebarOpen",
 "57.82": "32",
 "90.05": "https://prism.openai.com/"
}